.bg-yellow-ps:hover {
    background-color: #ffea00;
    color: #222f36;
}

.icon-yellow-ps:hover {
    color: #ffea00;
}

.loader {
    border-top-color: #2b6cb0;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}